html {
    font-family: Inter, Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #efefef;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

/*!sc*/
body {
    margin: 0;
}

/*!sc*/
main {
    display: block;
}

/*!sc*/
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/*!sc*/
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/*!sc*/
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

/*!sc*/
a {
    background-color: transparent;
}

/*!sc*/
abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

/*!sc*/
b,
strong {
    font-weight: bolder;
}

/*!sc*/
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/*!sc*/
small {
    font-size: 80%;
}

/*!sc*/
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

/*!sc*/
sub {
    bottom: -0.25em;
}

/*!sc*/
sup {
    top: -0.5em;
}

/*!sc*/
img {
    border-style: none;
}

/*!sc*/
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

/*!sc*/
button,
input {
    overflow: visible;
}

/*!sc*/
button,
select {
    text-transform: none;
}

/*!sc*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/*!sc*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/*!sc*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/*!sc*/
fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/*!sc*/
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

/*!sc*/
progress {
    vertical-align: baseline;
}

/*!sc*/
textarea {
    overflow: auto;
}

/*!sc*/
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/*!sc*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/*!sc*/
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

/*!sc*/
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*!sc*/
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/*!sc*/
details {
    display: block;
}

/*!sc*/
summary {
    display: list-item;
}

/*!sc*/
template {
    display: none;
}

/*!sc*/
[hidden] {
    display: none;
}

/*!sc*/
data-styled.g1[id="sc-global-ecVvVt1"] {
    content: "sc-global-ecVvVt1,"
}

/*!sc*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

/*!sc*/
body {
    overflow-x: hidden;
}

/*!sc*/
img {
    max-width: 100%;
}

/*!sc*/
#snack-bar {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

/*!sc*/
#snack-bar>div {
    margin-top: 12px;
}

/*!sc*/
data-styled.g2[id="sc-global-bJrvcH1"] {
    content: "sc-global-bJrvcH1,"
}

/*!sc*/
.server-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    z-index: 999999;
}

/*!sc*/
html {
    background-color: #F5F5FA;
}

/*!sc*/
html.async-hide body {
    opacity: 0 !important;
}

/*!sc*/
a {
    color: #0B74E5;
    -webkit-text-decoration: none;
    text-decoration: none;
}

/*!sc*/
a:hover {
    opacity: 0.95;
}

/*!sc*/
p {
    margin: 0 0 10px 0;
}

/*!sc*/
b,
strong {
    font-weight: 500;
}

/*!sc*/
.icon {
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0 0;
}

/*!sc*/
.icon.tikinow-15 {
    width: 53px;
    height: 15px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/tikinow/tiki-now-15.png);
    background-size: 53px 15px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio:1.5),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .icon.tikinow-15 {
        background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/tikinow/tiki-now-15@2x.png);
    }
}

/*!sc*/
.icon.tikinow-26 {
    width: 91px;
    height: 26px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/tikinow/tiki-now-26.png);
    background-size: 91px 26px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio:1.5),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .icon.tikinow-26 {
        background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/tikinow/tiki-now-26@2x.png);
    }
}

/*!sc*/
.icon.thumb-up {
    width: 17px;
    height: 17px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/thumb-up.png);
    background-size: 17px 17px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio:1.5),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .icon.thumb-up {
        background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/thumb-up@2x.png);
    }
}

/*!sc*/
.icon.thumb-up-3x {
    width: 17px;
    height: 17px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/thumb-up-2@3x.png);
    background-size: 17px 17px;
}

/*!sc*/
.icon.reply-arrow {
    width: 19px;
    height: 16px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/reply-arrow.png);
    background-size: 19px 16px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio:1.5),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .icon.reply-arrow {
        background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/reply-arrow@2x.png);
    }
}

/*!sc*/
.icon.guarantee {
    width: 16px;
    height: 16px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/guarantee.png);
    background-size: 16px 16px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio:1.5),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .icon.guarantee {
        background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/guarantee@2x.png);
    }
}

/*!sc*/
.icon.flag-2x {
    width: 14px;
    height: 16px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/flag@2x.png);
    background-size: 14px 16px;
}

/*!sc*/
.icon.warning-svg {
    width: 16px;
    height: 17px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/warning.svg);
    background-size: 16px 17px;
}

/*!sc*/
.icon.prize {
    width: 23px;
    height: 24px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/prize.png);
    background-size: 23px 24px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio:1.5),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .icon.prize {
        background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/prize@2x.png);
    }
}

/*!sc*/
.tikicon.icon-bound {
    width: 16px;
    height: 16px;
    background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/bound.png);
    background-size: 16px 16px;
}

/*!sc*/
@media (-webkit-min-device-pixel-ratio:1.5),
(-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi) {
    .tikicon.icon-bound {
        background-image: url(https://frontend.tikicdn.com/_desktop-next/static/img/icons/bound@2x.png);
    }
}

/*!sc*/
.fade-loading-animated {
    -webkit-animation-name: fadeLoading;
    animation-name: fadeLoading;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

/*!sc*/
@-webkit-keyframes fadeLoading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

/*!sc*/
@keyframes fadeLoading {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

/*!sc*/
@-webkit-keyframes swing {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/*!sc*/
@keyframes swing {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

/*!sc*/
data-styled.g4[id="sc-global-hkrGOO1"] {
    content: "sc-global-hkrGOO1,"
}

/*!sc*/
.fvWcVx {
    object-fit: contain;
    display: block;
    width: 100%;
    height: 100%;
    display: block;
}

/*!sc*/
data-styled.g11[id="sc-7bce5df0-0"] {
    content: "fvWcVx,"
}

/*!sc*/
.jfMKyG {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 16px;
    gap: 4px;
    background: white;
}

/*!sc*/
.jfMKyG p {
    margin: 0;
}

/*!sc*/
.jfMKyG a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: initial;
    gap: 4px;
}

/*!sc*/
data-styled.g24[id="sc-dde698d1-0"] {
    content: "jfMKyG,"
}

/*!sc*/
.cGVtRR {
    font-size: 12px;
    font-weight: 600;
    line-height: 150%;
    padding-left: 4px;
}

/*!sc*/
data-styled.g25[id="sc-dde698d1-1"] {
    content: "cGVtRR,"
}

/*!sc*/
.eTnNSC {
    width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*!sc*/
data-styled.g26[id="sc-6d96a9af-0"] {
    content: "eTnNSC,"
}

/*!sc*/
.dVnCth {
    margin-top: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #808089;
    background-color: white;
}

/*!sc*/
.dVnCth.listing-revamp {
    width: 1138px;
    border-radius: 8px;
    margin-bottom: 16px;
}

/*!sc*/
@media only screen and (max-width:1439px) {
    .dVnCth.listing-revamp {
        width: 978px;
    }
}

/*!sc*/
@media only screen and (min-width:1440px) {
    .dVnCth.listing-revamp {
        width: 1138px;
    }
}

/*!sc*/
.dVnCth.listing-revamp .block {
    width: auto !important;
}

/*!sc*/
.dVnCth.listing-revamp .block.payment-information {
    width: 200px !important;
}

/*!sc*/
.dVnCth.listing-revamp .flex {
    width: auto !important;
}

/*!sc*/
.dVnCth.listing-revamp .separator {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
}

/*!sc*/
.dVnCth p {
    font-size: 12px;
    line-height: 16px;
    color: #808089;
    margin-bottom: 12px;
    margin-top: 0px;
}

/*!sc*/
.dVnCth .title-text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #38383d;
    margin-bottom: 12px;
    margin-top: 0px;
}

/*!sc*/
.dVnCth .small-text {
    display: block;
    margin-bottom: 8px;
    color: #808089;
}

/*!sc*/
.dVnCth a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

/*!sc*/
data-styled.g27[id="sc-4ce82f3c-0"] {
    content: "dVnCth,"
}

/*!sc*/
.chWRSJ {
    padding: 16px 0;
}

/*!sc*/
.chWRSJ .block {
    width: 226px;
}

/*!sc*/
.chWRSJ .block .store-title {
    margin-top: 24px;
}

/*!sc*/
.chWRSJ .block .icon {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
    vertical-align: middle;
    width: 32px;
    height: 32px;
}

/*!sc*/
.chWRSJ .block .icon.vnpay>svg {
    width: 32px;
    height: 32px;
}

/*!sc*/
.chWRSJ .flex {
    width: 226px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 8px;
}

/*!sc*/
.chWRSJ .hotline {
    margin-bottom: 8px;
}

/*!sc*/
.chWRSJ .hotline a {
    color: #38383D;
    font-weight: 500;
}

/*!sc*/
.chWRSJ .security {
    margin-bottom: 8px;
    color: #808089;
    font-size: 12px;
    font-weight: 400;
}

/*!sc*/
.chWRSJ .security a {
    color: #808089;
}

/*!sc*/
data-styled.g28[id="sc-4ce82f3c-1"] {
    content: "chWRSJ,"
}

/*!sc*/
.eSPDgm {
    padding: 16px 0;
    background-color: #ffffff;
}

/*!sc*/
.eSPDgm .address {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
data-styled.g29[id="sc-4ce82f3c-2"] {
    content: "eSPDgm,"
}

/*!sc*/
.exPqAC {
    content: ' ';
    height: 1px;
    background-color: #EBEBF0;
    width: 1240px;
    margin-right: auto;
    margin-left: auto;
}

/*!sc*/
data-styled.g30[id="sc-4ce82f3c-3"] {
    content: "exPqAC,"
}

/*!sc*/
.aMfcf {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #38383D;
    margin-bottom: 12px;
    margin-top: 0px;
}

/*!sc*/
data-styled.g31[id="sc-4ce82f3c-4"] {
    content: "aMfcf,"
}

/*!sc*/
.bstmqn {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #38383D;
    margin-bottom: 4px;
    margin-top: 0px;
}

/*!sc*/
data-styled.g32[id="sc-4ce82f3c-5"] {
    content: "bstmqn,"
}

/*!sc*/
.hrWWOH {
    padding: 16px 0px 0px;
}

/*!sc*/
data-styled.g33[id="sc-8ba33404-0"] {
    content: "hrWWOH,"
}

/*!sc*/
.kGhQDb {
    margin-bottom: 16px;
}

/*!sc*/
.kGhQDb a {
    color: #808089;
}

/*!sc*/
.kGhQDb p {
    margin: 0px;
}

/*!sc*/
data-styled.g34[id="sc-8ba33404-1"] {
    content: "kGhQDb,"
}

/*!sc*/
.kzdfAZ {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 20px;
}

/*!sc*/
data-styled.g35[id="sc-8ba33404-2"] {
    content: "kzdfAZ,"
}

/*!sc*/
.iyhWqm {
    padding: 16px 0px 0px;
}

/*!sc*/
data-styled.g37[id="sc-4e2e5de4-0"] {
    content: "iyhWqm,"
}

/*!sc*/
.bdFUBm {
    margin-bottom: 16px;
}

/*!sc*/
.bdFUBm a {
    color: #808089;
}

/*!sc*/
.bdFUBm p {
    margin: 0px;
}

/*!sc*/
data-styled.g38[id="sc-4e2e5de4-1"] {
    content: "bdFUBm,"
}

/*!sc*/
.ldcZGa {
    object-fit: contain;
    display: block;
}

/*!sc*/
data-styled.g46[id="sc-82b4dcf2-0"] {
    content: "ldcZGa,"
}

/*!sc*/
.edZgU {
    width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
}

/*!sc*/
@media only screen and (min-width:1440px) {
    .edZgU {
        width: 1440px;
    }
}

/*!sc*/
data-styled.g263[id="sc-9b2f7535-0"] {
    content: "edZgU,"
}

/*!sc*/
.dxEhmH {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-center;
    -webkit-box-align: flex-center;
    -ms-flex-align: flex-center;
    align-items: flex-center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*!sc*/
.dxEhmH .tiki-logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-center;
    -webkit-box-align: flex-center;
    -ms-flex-align: flex-center;
    align-items: flex-center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*!sc*/
.dxEhmH .tiki-logo>span {
    font-size: 14px;
    color: #003ea1;
    margin-top: 8px;
    font-weight: 600;
    text-align: center;
}

/*!sc*/
data-styled.g264[id="sc-33374f8f-0"] {
    content: "dxEhmH,"
}

/*!sc*/
.cYLtAT {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/*!sc*/
data-styled.g265[id="sc-dec0a11d-0"] {
    content: "cYLtAT,"
}

/*!sc*/
.cfhkdd {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    border: 1px solid #DDDDE3;
    border-radius: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.cfhkdd .icon-search {
    width: 20px;
    height: 20px;
    margin: 0 0 0 18px;
}

/*!sc*/
data-styled.g266[id="sc-dec0a11d-1"] {
    content: "cfhkdd,"
}

/*!sc*/
.lgENLJ {
    border: 0px;
    padding: 0 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    outline: none;
}

/*!sc*/
.lgENLJ::-webkit-input-placeholder {
    color: #808089;
    font-size: 14px;
}

/*!sc*/
.lgENLJ::-moz-placeholder {
    color: #808089;
    font-size: 14px;
}

/*!sc*/
.lgENLJ:-ms-input-placeholder {
    color: #808089;
    font-size: 14px;
}

/*!sc*/
.lgENLJ::placeholder {
    color: #808089;
    font-size: 14px;
}

/*!sc*/
data-styled.g267[id="sc-dec0a11d-2"] {
    content: "lgENLJ,"
}

/*!sc*/
.agnbj {
    cursor: pointer;
    border: 0px;
    width: 92px;
    height: 38px;
    padding: 4px;
    border-radius: 0 8px 8px 0;
    background: transparent;
    color: #0A68FF;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    outline: none;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}

/*!sc*/
.agnbj:before {
    content: '';
    display: block;
    position: absolute;
    border-left: 1px solid #DDDDE3;
    height: 24px;
    left: 0;
    top: 8px;
}

/*!sc*/
.agnbj:hover {
    background-color: rgba(10, 104, 255, 0.2);
}

/*!sc*/
.agnbj:active {
    background-color: rgba(10, 104, 255, 0.4);
}

/*!sc*/
data-styled.g268[id="sc-dec0a11d-3"] {
    content: "agnbj,"
}

/*!sc*/
.cLQssM {
    position: relative;
    display: block;
}

/*!sc*/
.cLQssM:hover {
    opacity: 1;
}

/*!sc*/
data-styled.g284[id="sc-7f8ef5b2-14"] {
    content: "cLQssM,"
}

/*!sc*/
.cFDjju {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: 48px;
}

/*!sc*/
.cFDjju .profile-icon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 2px;
}

/*!sc*/
.cFDjju .arrowIcon {
    width: 16px;
    height: 16px;
}

/*!sc*/
.cFDjju .cart-wrapper {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*!sc*/
.cFDjju .cart-wrapper .cart-icon {
    margin-right: 0;
    border-radius: unset;
}

/*!sc*/
.cFDjju .cart-wrapper .cart-text {
    color: #ffffff;
    font-weight: 500;
    white-space: nowrap;
    font-size: 13px;
    line-height: 20px;
}

/*!sc*/
data-styled.g285[id="sc-7f8ef5b2-15"] {
    content: "cFDjju,"
}

/*!sc*/
.eusHvB {
    color: #ffffff;
    background: #FF424F;
    height: 16px;
    right: 0;
    top: -4px;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    font-size: 10px;
    line-height: 150%;
    position: absolute;
    padding: 0.5px 4px;
}

/*!sc*/
data-styled.g286[id="sc-7f8ef5b2-16"] {
    content: "eusHvB,"
}

/*!sc*/
.hTmXuX {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
}

/*!sc*/
.hTmXuX:hover {
    background-color: rgba(39, 39, 42, 0.12);
}

/*!sc*/
.hTmXuX:active {
    background-color: rgba(39, 39, 42, 0.24);
}

/*!sc*/
.hTmXuX img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    border-radius: 50%;
}

/*!sc*/
.hTmXuX a,
.hTmXuX>span {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #808089;
}

/*!sc*/
.hTmXuX:hover .toggler {
    display: block;
}

/*!sc*/
.fstAJs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    border-radius: 8px;
}

/*!sc*/
.fstAJs:hover {
    background-color: rgba(0, 96, 255, 0.12);
}

/*!sc*/
.fstAJs:active {
    background-color: rgba(0, 96, 255, 0.24);
}

/*!sc*/
.fstAJs img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
    border-radius: 50%;
}

/*!sc*/
.fstAJs a,
.fstAJs>span {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #0A68FF;
}

/*!sc*/
.fstAJs:hover .toggler {
    display: block;
}

/*!sc*/
data-styled.g289[id="sc-7f8ef5b2-19"] {
    content: "hTmXuX,fstAJs,"
}

/*!sc*/
.fcjrQq {
    padding: 0 !important;
    margin-left: 24px;
    position: relative;
}

/*!sc*/
.fcjrQq:before {
    content: '';
    display: block;
    height: 20px;
    position: absolute;
    left: -12px;
    border: 1px solid #EBEBF0;
}

/*!sc*/
data-styled.g290[id="sc-7f8ef5b2-20"] {
    content: "fcjrQq,"
}

/*!sc*/
.gypTeU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 16px 0 10px 0;
    height: auto;
    position: relative;
    z-index: 2;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}

/*!sc*/
.gypTeU .logo-menu {
    margin-right: 48px;
    -webkit-flex-basis: unset;
    -ms-flex-preferred-size: unset;
    flex-basis: unset;
}

/*!sc*/
data-styled.g291[id="sc-ee984840-0"] {
    content: "gypTeU,"
}

/*!sc*/
.hqCsjg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
data-styled.g292[id="sc-ee984840-1"] {
    content: "hqCsjg,"
}

/*!sc*/
.rgsXe {
    position: relative;
    background: #ffffff;
    padding: 8px 0;
    z-index: 999;
}

/*!sc*/
.rgsXe.main-header-sticky {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

/*!sc*/
.rgsXe * {
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
}

/*!sc*/
data-styled.g294[id="sc-f862d3ea-1"] {
    content: "rgsXe,"
}

/*!sc*/
.bbUcuP {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 24px;
    width: 712px;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 12px;
}

/*!sc*/
@media only screen and (min-width:1440px) {
    .bbUcuP {
        width: 820px;
    }
}

/*!sc*/
.bbUcuP a {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #808089;
    white-space: nowrap;
}

/*!sc*/
data-styled.g297[id="sc-7ad7c877-1"] {
    content: "bbUcuP,"
}

/*!sc*/
.fKRaGb {
    margin-bottom: 3px;
    max-width: 348px;
    -webkit-flex: 0 0 348px;
    -ms-flex: 0 0 348px;
    flex: 0 0 348px;
}

/*!sc*/
.fKRaGb .delivery-zone__heading {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/*!sc*/
.fKRaGb .delivery-zone__heading img {
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

/*!sc*/
.fKRaGb .delivery-zone__heading>h4 {
    margin: 0px;
    display: block;
    color: #808089;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    padding-right: 4px;
    white-space: nowrap;
}

/*!sc*/
.fKRaGb .delivery-zone__heading .address {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #27272A;
}

/*!sc*/
data-styled.g298[id="sc-75644000-0"] {
    content: "fKRaGb,"
}

/*!sc*/
.dtcpAn {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 1;
}

/*!sc*/
data-styled.g299[id="sc-39ee4e6f-0"] {
    content: "dtcpAn,"
}

/*!sc*/
.ljZvVE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    gap: 8px;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

/*!sc*/
data-styled.g300[id="sc-b1e0edd7-0"] {
    content: "ljZvVE,"
}

/*!sc*/
.duXRBJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    gap: 48px;
    -webkit-flex: 1 0 0;
    -ms-flex: 1 0 0;
    flex: 1 0 0;
}

/*!sc*/
data-styled.g301[id="sc-b1e0edd7-1"] {
    content: "duXRBJ,"
}

/*!sc*/
.fzFpkg {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 0px;
    gap: 4px;
    background: white;
    border-width: 1px 0px;
    border-style: solid;
    border-color: #EBEBF0;
}

/*!sc*/
.fzFpkg p {
    margin: 0;
}

/*!sc*/
data-styled.g413[id="sc-cc99b0e2-0"] {
    content: "fzFpkg,"
}

/*!sc*/
.klHtaf {
    width: 1280px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 12px;
    padding-inline: 24px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
@media only screen and (min-width:1440px) {
    .klHtaf {
        width: 1440px;
    }
}

/*!sc*/
data-styled.g414[id="sc-cc99b0e2-1"] {
    content: "klHtaf,"
}

/*!sc*/
.iMmKHC {
    font-size: 14px;
    font-weight: 600;
    line-height: 150%;
    white-space: nowrap;
}

/*!sc*/
data-styled.g415[id="sc-cc99b0e2-2"] {
    content: "iMmKHC,"
}

/*!sc*/
.fzREUO {
    width: 100%;
    position: relative;
}

/*!sc*/
.fzREUO:hover .icon-prev,
.fzREUO:hover .icon-next {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

/*!sc*/
.fzREUO .icon {
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    cursor: pointer;
    z-index: 2;
    background-color: #fff;
    padding: 6px;
    transition: opacity 0.3s ease;
}

.fzREUO .icon.disabled {
    display: none;
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.fzREUO .icon:not(.disabled):hover {
    background-color: #f2f6ff;
}

.fzREUO .icon:not(.disabled):active {
    background-color: #e6eeff;
}

/*!sc*/
.fzREUO .icon-prev {
    left: 8px;
}

/*!sc*/
.fzREUO .icon-next {
    right: 8px;
}

/*!sc*/
.fzREUO .content {
    overflow: hidden;
}

/*!sc*/
.fzREUO .content .slider {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
}

/*!sc*/
data-styled.g434[id="sc-d93ab8d1-0"] {
    content: "fzREUO,"
}

/*!sc*/
.iYuHsi {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 54px;
}

/*!sc*/
data-styled.g436[id="sc-6dd31123-0"] {
    content: "iYuHsi,"
}

/*!sc*/
.Skdxr {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 54px;
    height: 54px;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ebebf0;
    overflow: hidden;
}

/*!sc*/
.Skdxr:last-child {
    margin-bottom: 0;
}

/*!sc*/
.Skdxr.active {
    border: 2px solid #0A68FF;
}

/*!sc*/
.Skdxr .video {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 9px;
    color: #ffffff;
    font-size: 11px;
    line-height: 16px;
    font-weight: 300;
    text-align: center;
}

/*!sc*/
.Skdxr img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*!sc*/
data-styled.g437[id="sc-6dd31123-1"] {
    content: "Skdxr,"
}

/*!sc*/
.feQxyc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    padding: 0px 16px;
}

/*!sc*/
.feQxyc .image-frame {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #ebebf0;
    position: relative;
}

/*!sc*/
.feQxyc .image-from-customer-tag {
    margin-left: 0;
    padding: 3px 8px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    line-height: 150%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
}

/*!sc*/
.feQxyc .image-badges {
    position: absolute;
    bottom: 0;
    padding: 16px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

/*!sc*/
data-styled.g438[id="sc-aa170f22-0"] {
    content: "feQxyc,"
}

/*!sc*/
.eKroXI {
    background-color: #F5F5FA;
}

/*!sc*/
.eKroXI .breadcrumb {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.eKroXI a.breadcrumb-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    color: #808089;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    white-space: nowrap;
}

/*!sc*/
.eKroXI a.breadcrumb-item:hover {
    color: #38383D;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

/*!sc*/
.eKroXI a.breadcrumb-item:last-child {
    color: #38383D;
    cursor: default;
    overflow: hidden;
}

/*!sc*/
.eKroXI a.breadcrumb-item:last-child span {
    overflow: hidden;
    text-overflow: ellipsis;
}

/*!sc*/
.eKroXI a.breadcrumb-item:last-child:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
}

/*!sc*/
.eKroXI a.breadcrumb-item h1 {
    color: #38383D;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    margin: 0;
}

/*!sc*/
.eKroXI .icon.icon-next {
    margin-left: 5.5px;
    margin-right: 8.5px;
}

/*!sc*/
data-styled.g439[id="sc-de46788d-0"] {
    content: "eKroXI,"
}

/*!sc*/
.dSZwVn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    padding: 16px;
    gap: 4px;
}

/*!sc*/
data-styled.g450[id="sc-34e0efdc-0"] {
    content: "dSZwVn,"
}

/*!sc*/
.ddClVB {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #27272A;
}

/*!sc*/
.ddClVB .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*!sc*/
.ddClVB .see-all {
    font-weight: 500;
    font-size: 14px;
    color: #0A68FF;
    cursor: pointer;
}

/*!sc*/
data-styled.g451[id="sc-34e0efdc-1"] {
    content: "ddClVB,"
}

/*!sc*/
.kAFhAU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid #EBEBF0;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: #27272A;
    gap: 8px;
}

/*!sc*/
.kAFhAU:last-of-type {
    border-bottom: none;
}

/*!sc*/
data-styled.g452[id="sc-34e0efdc-2"] {
    content: "kAFhAU,"
}

/*!sc*/
.jcYGog {
    background-color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #27272A;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.jcYGog span {
    font-weight: 400;
}

/*!sc*/
data-styled.g453[id="sc-34e0efdc-3"] {
    content: "jcYGog,"
}

/*!sc*/
.hkOJsf {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #27272A;
}

/*!sc*/
data-styled.g464[id="sc-e6fb8ae7-2"] {
    content: "hkOJsf,"
}

/*!sc*/
.kLhGA-D {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid #EBEBF0;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: #27272A;
    gap: 16px;
    padding-bottom: 16px;
}

/*!sc*/
.kLhGA-D:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

/*!sc*/
data-styled.g465[id="sc-e6fb8ae7-3"] {
    content: "kLhGA-D,"
}

/*!sc*/
.ftfpIc {
    border-radius: 4px;
    background: linear-gradient(-90deg, #EBEBF0 0%, #ffffff 50%, #EBEBF0 100%);
    background-size: 400% 400%;
    -webkit-animation: load 1.5s ease-in-out infinite;
    animation: load 1.5s ease-in-out infinite;
}

/*!sc*/
@-webkit-keyframes load {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -135% 0%;
    }
}

/*!sc*/
@keyframes load {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: -135% 0%;
    }
}

/*!sc*/
data-styled.g466[id="sc-cff2fee0-0"] {
    content: "ftfpIc,"
}

/*!sc*/
.dwGkAm {
    padding: 16px 0;
    background-color: #fff;
    margin-bottom: 16px;
}

/*!sc*/
data-styled.g467[id="sc-cff2fee0-1"] {
    content: "dwGkAm,"
}

/*!sc*/
.eRYSas {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

/*!sc*/
.eRYSas .brand-and-author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

/*!sc*/
.eRYSas .brand-and-author:after {
    content: '';
    height: 9px;
    border-left: 1px solid #c7c7c7;
    display: inline-block;
    margin: 0 8px 0 8px;
}

/*!sc*/
.eRYSas .brand-and-author.no-after:after {
    content: '';
    display: none;
}

/*!sc*/
.eRYSas h6 {
    margin: 0 0 0 0;
    color: #242424;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

/*!sc*/
.eRYSas h6>a {
    font-size: 13px;
    line-height: 20px;
    color: #0d5cb6;
}

/*!sc*/
data-styled.g471[id="sc-182247c9-0"] {
    content: "eRYSas,"
}

/*!sc*/
.fHEkTS {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*!sc*/
data-styled.g472[id="sc-1a46a934-0"] {
    content: "fHEkTS,"
}

/*!sc*/
.dCjKzJ {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

/*!sc*/
.dCjKzJ .number {
    display: block;
    margin-left: 8px;
    color: #787878;
    font-size: 14px;
    line-height: 24px;
}

/*!sc*/
data-styled.g473[id="sc-1a46a934-1"] {
    content: "dCjKzJ,"
}

/*!sc*/
.eIEoTE {
    width: 1px;
    height: 12px;
    background-color: #c7c7c7;
    margin-left: 8px;
    margin-right: 8px;
}

/*!sc*/
data-styled.g474[id="sc-1a46a934-2"] {
    content: "eIEoTE,"
}

/*!sc*/
.geGARt {
    font-size: 14px;
    line-height: 24px;
    color: #787878;
}

/*!sc*/
data-styled.g475[id="sc-1a46a934-3"] {
    content: "geGARt,"
}

/*!sc*/
.dEurho {
    margin: 0;
    color: #27272a;
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;
    word-break: break-word;
    white-space: break-spaces;
}

/*!sc*/
.dEurho .icon.tikinow-26 {
    position: relative;
    width: 108px;
    vertical-align: baseline;
}

/*!sc*/
.dEurho .icon.tikinow-26:before {
    content: '';
    position: absolute;
    right: 8px;
    bottom: 0;
    width: 1px;
    height: 17px;
    background-color: #d8d8d8;
}

/*!sc*/
data-styled.g476[id="sc-c0f8c612-0"] {
    content: "dEurho,"
}

/*!sc*/
.bIhKUr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
}

/*!sc*/
data-styled.g478[id="sc-f71dfc2-0"] {
    content: "bIhKUr,"
}

/*!sc*/
.enfFJg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4px;
}

/*!sc*/
.enfFJg .product-price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #27272A;
    gap: 8px;
}

/*!sc*/
.enfFJg .product-price__current-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}

/*!sc*/
.enfFJg .product-price__discount-rate {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    padding: 0 4px;
    background: #F5F5FA;
    border-radius: 8px;
}

/*!sc*/
.enfFJg .product-price__discount-icon {
    padding: 2px;
    background: #F5F5FA;
    border-radius: 6px;
}

/*!sc*/
.enfFJg .product-price__original-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #808089;
}

/*!sc*/
data-styled.g492[id="sc-4ade12da-0"] {
    content: "enfFJg,"
}

/*!sc*/
.bXjfwR {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
}

/*!sc*/
data-styled.g507[id="sc-40058dbe-0"] {
    content: "bXjfwR,"
}

/*!sc*/
.gTCFtt {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    gap: 16px;
}

/*!sc*/
data-styled.g508[id="sc-21093861-0"] {
    content: "gTCFtt,"
}

/*!sc*/
.joJPdR {
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 24px;
    border-radius: 8px;
    -webkit-align-items: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

/*!sc*/
data-styled.g509[id="sc-aa5e895f-0"] {
    content: "joJPdR,"
}

/*!sc*/
.fvuIJS {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    cursor: pointer;
    color: #808089;
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

/*!sc*/
data-styled.g510[id="sc-f93de155-0"] {
    content: "fvuIJS,"
}

/*!sc*/
.ftPStD {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*!sc*/
data-styled.g511[id="sc-98168149-0"] {
    content: "ftPStD,"
}

/*!sc*/
.esmbwu {
    display: grid;
    grid-template-columns: 1fr 360px;
    gap: 24px;
}

/*!sc*/
data-styled.g512[id="sc-gKPRtg"] {
    content: "esmbwu,"
}

/*!sc*/
.fGViSL {
    display: grid;
    grid-template-columns: 100%;
    gap: 16px;
}

/*!sc*/
data-styled.g513[id="sc-iBYQkv"] {
    content: "fGViSL,"
}

/*!sc*/
.dqQfZn {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    color: #27272a;
}

/*!sc*/
data-styled.g522[id="sc-31ecf63b-0"] {
    content: "dqQfZn,"
}

/*!sc*/
.fgrIVW {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

/*!sc*/
data-styled.g523[id="sc-31ecf63b-1"] {
    content: "fgrIVW,"
}

/*!sc*/
.fzqGUN {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

/*!sc*/
data-styled.g524[id="sc-31ecf63b-2"] {
    content: "fzqGUN,"
}

/*!sc*/
.vIHcS {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 12px;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 8px;
    border-bottom: 1px solid #ebebf0;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/*!sc*/
data-styled.g526[id="sc-524d1555-0"] {
    content: "vIHcS,"
}

/*!sc*/
.gnrEVG {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 16px;
}

/*!sc*/
.gnrEVG .group-button {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 8px;
}

/*!sc*/
.gnrEVG .group-button .note {
    margin: 10px 0 0;
    color: #4a4a4a;
    font-size: 13px;
}

/*!sc*/
data-styled.g527[id="sc-10adedb6-0"] {
    content: "gnrEVG,"
}

/*!sc*/
.hDQYRF {
    background: #ff424e;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 300;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    white-space: nowrap;
    color: #ffffff;
    height: 40px;
    font-size: 16px;
    line-height: 150%;
}

/*!sc*/
.hDQYRF>span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

/*!sc*/
data-styled.g532[id="sc-9e5b140a-0"] {
    content: "hDQYRF,"
}

/*!sc*/
.dtpKzE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    white-space: nowrap;
    width: 100%;
    height: 40px;
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    line-height: 150%;
    color: #0a68ff;
    border: 1px solid #0a68ff;
    border-radius: 4px;
}

/*!sc*/
data-styled.g533[id="sc-9e5b140a-1"] {
    content: "dtpKzE,"
}

/*!sc*/
.ejSfqq {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

/*!sc*/
.ejSfqq .label {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    margin: 0;
}

/*!sc*/
.ejSfqq .disable {
    pointer-events: none !important;
    border: 1px solid var(--button-neutral-outlined-border-disabled, rgba(196, 196, 207, 0.3)) !important;
}

/*!sc*/
.ejSfqq .disable>img {
    opacity: 0.4;
}

/*!sc*/
.ejSfqq .group-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.ejSfqq .group-input button,
.ejSfqq .group-input input {
    height: 32px;
    color: #242424;
    font-size: 14px;
    text-align: center;
    outline: none;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border: 1px solid #a6a6b0;
    background: white;
}

/*!sc*/
.ejSfqq .group-input button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 6px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*!sc*/
.ejSfqq .group-input button:hover {
    background-color: #ececec;
}

/*!sc*/
.ejSfqq .group-input input {
    width: 40px;
    margin: 0 4px;
}

/*!sc*/
.ejSfqq .group-input input:focus {
    border-color: #66afed;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/*!sc*/
data-styled.g545[id="sc-43079b3d-0"] {
    content: "ejSfqq,"
}

/*!sc*/
.enfFJg .product-price__original-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgb(128, 128, 137);
}

.dSZwVn {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    padding: 16px;
    gap: 4px;
}

.ddClVB {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: rgb(39, 39, 42);
}

.kAFhAU {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 0px;
    border-bottom: 1px solid rgb(235, 235, 240);
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: rgb(39, 39, 42);
    gap: 8px;
}

.bXxUQh {
    color: rgb(39, 39, 42);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    width: 100%;
}

.nTUKM {
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    gap: 8px;
}

.nTUKM .shipping-info__item:last-child {
    margin: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.nTUKM .shipping-info__item {
    display: flex;
    flex-direction: column;
    gap: 2px;
    position: relative;
    margin-right: 12px;
    z-index: 1;
    font-size: 13px;
    line-height: 20px;
    color: rgb(120, 120, 120);
    width: 100%;
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(235, 235, 240);
}

.nTUKM .shipping-info__item__header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.nTUKM .shipping-info__item__fee {
    display: flex;
}

.nTUKM .shipping-info__item__header__logo {
    vertical-align: middle;
    line-height: 0;
}

.nTUKM .shipping-info__item__header__highlight {
    font-size: 14px;
    line-height: 150%;
    color: rgb(39, 39, 42);
    margin-left: 8px;
}

.nTUKM .shipping-info__item__fee_name,
.nTUKM .shipping-info__item__fee_current,
.nTUKM .shipping-info__item__fee_original {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.CXJre {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
}

.fliQTf {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
}

.fliQTf>div {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
}

.gEwNBn {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: rgb(39, 39, 42);
    white-space: break-spaces;
}

.cxMdsy {
    cursor: pointer;
}

.hFEtiz {
    object-fit: contain;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 1 !important;
}

.VYYrY {
    cursor: pointer;
    border: 1px solid rgb(235, 235, 240);
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(10, 104, 255);
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding: 4px 8px;
    gap: 4px;
    margin-right: 4px;
}

.iLtPWi {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
}

.hwHOlY {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.fAcMPt {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.hwHOlY .rule-item {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
    background-color: rgb(245, 245, 250);
    border-radius: 6px;
    padding: 2px 4px;
}

.hVGhMI {
    width: 100%;
    position: relative;
}

.hVGhMI .icon-prev {
    left: 8px;
}

.hVGhMI .icon-next {
    right: 8px;
}

.hVGhMI .content {
    overflow: hidden;
}

.hVGhMI .content .slider {
    display: inline-flex;
    transition: 0.5s ease-in-out;
    min-width: 100%;
}

.hVGhMI .icon {
    position: absolute;
    top: calc(50% - 5px);
    transform: translateY(-50%);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
    border-radius: 16px;
    cursor: pointer;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    padding: 6px;
    transition: opacity 0.3s ease;
}

.hVGhMI .icon.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;
}

.hVGhMI .icon:not(.disabled):hover {
    background-color: #f2f6ff;
}

.hVGhMI .icon:not(.disabled):active {
    background-color: #e6eeff;
}

.kTzRAo .product-item {
    border: none;
}

.iRifC {
    text-decoration: none;
    display: flex;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    height: 100%;
}

.iRifC>* {
    width: 100%;
}

.esCPZO {
    display: flex;
    color: rgb(36, 36, 36);
    text-decoration: none;
    flex-direction: column;
    border: 1px solid rgb(235, 235, 240);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
}

.ePleYc {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 8px;
    gap: 4px;
    flex: 1 1 0%;
}

.sc-accfdecb-0.oeQAA.thumbnail {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
}




.hiPBCe {
    height: 20px;
    padding: 2px 4px;
    gap: 0px;
    border-radius: 6px;
    font-size: 10px;
    line-height: 150%;
}

.oeQAA .image-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.esCPZO .info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1 1 0%;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.izNpeL {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    align-self: stretch;
    overflow: hidden;
    color: var(--Alias-Primary---On-Theme, #27272a);
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    margin: 0px;
    word-break: break-word;
}

.MtbnO {
    display: flex;
    height: 18px;
}

.eTeHeN {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
}

.jVbBhv .price-discount {
    text-align: left;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
    color: rgb(39, 39, 42);
    margin: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.kTzRAo .price-discount__price {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.discount-info {

    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(128, 128, 137);
}

.gjnreP {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: flex-start;
    gap: 8px;
    align-self: stretch;
}

.kjrAcw {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    color: rgb(36, 36, 36);
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
}

.kjrAcw>a {
    display: flex;
    flex: 1 1 0%;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
}

.kjrAcw>a>span {
    color: rgb(36, 36, 36);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.gjnreP .item.review {
    flex-shrink: 0;
}

.gjnreP .item {
    display: flex;
    gap: 4px;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(39, 39, 42);
    white-space: nowrap;
}

.gjnreP .item>.title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 4px;
}

.gjnreP .item>.sub-title {
    color: rgb(128, 128, 137);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.gjnreP .item>.title>span {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}